*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.banner{
    top: 0px;
    width: 100%;
    height: 450px;
    position: sticky;
    display: flex;
    z-index: 100;
    background: linear-gradient(to bottom, rgba(51, 51, 51, 1) 0%, rgba(51, 51, 51, 0) 100%);
}

.banner img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    /* display: block; */
}

.movie-details{
    top: 25%;
    margin-left: 10px;
    /* display: flex; */
    width: 65%;


    /* responsivenessss is here */
    height: 300px;
    position: absolute;
}


.movie-details h1,h5 {
    width: 100%;
    color: white;
}


.movie-details h1{
    margin-left: 10px;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}


.movie-details h5{
    margin-left: 15px;
    font-size: 19px;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}



#play, #info{
    margin-left: 17px;
    width: auto;
    padding: 7px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    transition: transform 0.6s;
}

#play i, #info i{
    margin: 0 5px;
}

#play:hover, #info:hover{
    transform: scale(1.1);
}



.image-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%; /* Adjust the height of the overlay as needed */
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 3));
  }


  @media (max-width: 752px){

    .banner{
        
        height: 300px;
    }
    .movie-details{
        top: 10px;
        width: 90%;
        margin-left: 10px;
    }

    .movie-details h1{
        margin-left: 0px;
        font-size: 35px;

    }
    .movie-details h5{
        margin-left: 0px;
        font-size: 16px;
    }
    #play{
        margin-left: 0px;
        width:auto;
    }
  }